{% extends "base.html" %}
{% load humanize %}
{% block title %}
Notes | Index{% endblock %}




{% block main %}
{% if user != 'Anonymous' %}
                    <ul class="nav nav-pills">
  <li class="active">
    <a href="#">Feed</a>
  </li>
  <li><a href="/users/{{ user.user.username }}">Dashboard</a></li>
  <li><a href="/myfiles">My Files</a></li>
{% endif %}
</ul>
			<table class="table table-striped">
				<tbody>
                                {% if not posts.object_list  %}<p><em>There doesn't seem to be anything here.</em></p>{% else %}
				{% for post in posts.object_list %}
				<tr>
				    <td style="width:25px; vertical-align:middle">
                                        <span><a href="#" id="upvote" onclick="upvote('{{post.pk}}', 'up');"><span id="upvote-contents-{{post.pk}}">
									{% if post not in user.likes.all or user == 'Anonymous' %}&#9650;
									{% else %}&nbsp;{% endif %}
								</span>
							</a></span>
                                    </td>
						
		                               
				    <td><a href="{{post.link}}">{{post.title}}</a>

					 <div>{{post.description}}</div>
					<div>by 
					<a href="/users/{{post.user}}/">{{post.user}}</a>

					{{post.created|naturaltime}} | 
					<a href="{% url notes.views.post post.pk %}">{{post.num_comments}} 
			
					{% if post.num_comments == 1 %}
					Comment
					{% else %}
					Comments
					{%endif%}
								
					</a> | <span id="ratingDiv-{{post.pk}}">{{post.rating}} points</span></div>
					
                                        {% if not post.tags.all %}{% else %}
                                        <div>{% for tag in post.tags.all %}
					<a href="/trending/{{ tag.tag }}"><span class="label label-info">#{{ tag.tag }}</span></a>
					{% endfor %}</div>{% endif %}
				   </td>
		                </tr>
                     		
				{% endfor %}{% endif %}
			        </tbody></table>

			<!-- Next/Prev page links  -->

			{% if posts.object_list %}

    			<div class="pagination">
    				<ul>

					{% if posts.has_previous %}
				    <li>
						  <a href= "?page={{ posts.previous_page_number }}">Prev</a>
						    

				    </li>
				 {% else %}<li class="disabled">
						    <a>Prev</a>

				</li>
				{% endif %}



				    <li><a>{{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
						{% if posts.has_next %}
						    <li>
								  <a href= "?page={{ posts.next_page_number }}">Next</a>
								    

						    </li>
						 {% else %}<li class="disabled">
								    <a>Next</a>

						</li>
						{% endif %}
				    </ul>
				</div>
			{% endif %}
{% endblock %}	
                 
	
